.button {
  position: absolute;
  z-index: 3;
  top: 5%;
  left: 50%;
}

.button2 {
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 50%;
}

body {
overflow: hidden;
}

#ui-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
